*{
    /* border: 1px solid red;  */
    font-family: inherit;
    margin: 0px;
    padding: 0px;
    
}

body{margin: 50px;

}
.top{
    background-color:rgb(66, 64, 199);
    height: 75px;
    margin-bottom: 15px;
    margin-top: 19px;
}
header{
}

#news
{background-color: rgb(112, 112, 112);
padding-left: 10px;
}
#welcome
{background-color: rgb(112, 112, 112);
    padding-left: 10px;
}
#more
{padding-left: 110px;
    font-weight: 200;
color: blue;
}
#the
{color: rgb(19, 19, 129);

}
.ccc p{
    background-color: rgb(248, 247, 157);
    padding: 10px;
    width: 500px;
}
.www
{background-color: darkblue;
padding-bottom:  20px;
padding-inline-start: 180px;
color: rgb(255, 255, 255);
}
#we{
    background-color: rgb(66, 64, 199);
    margin-left: 50px;
    
}

.display
{
    display: inline-block;
    vertical-align: top;
    
}
#logo
{width: 75%;

}
#logo1
{width: 150px;
padding-left: 150px;

}

a{
    color:blue;
    font-size: 20px;
}
.donker
{font-weight: 900;

}
#words
{padding-top: 20px;

}
.left
{
    height: 250px;
    width: 15%;
    background-color: rgb(203, 207, 198);
    margin-left: 70px;
}
.left p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.right
{
    margin-left: 200px;
    
}
#get-foto{
    width: 400px;
}
.bbb{width: 0px;
}
#worldwide{
    text-align: center;
}
.box2{
    height: 300px;
    margin-top: 20px;
    width: 15%;
    background-color: rgb(203, 207, 198);
    margin-left: 70px;
}

.box1
{background-color: rgb(197, 201, 194);
padding-right: 1150px;
padding-left: 100px;
}
.ccc{
    margin-top: 20px;
    /* background-color: lawngreen; */
    margin-left: 200px;
    width: 600px;
    text-align: center;
}

#sp{
    background-color: rgb(219, 216, 216);
    text-align: left;
    font-weight: 800;
}
#icon3{
    width: 60px;
    margin-top: 20px;
}
#icon1{
    width: 60px;
    margin-top: 100px;
}
.wo {
    text-align: left;
    
    
}
.wo p{
    background-color:white
}
footer{
    text-align: center;
}
#qq{
    width: 800px;
}
#pp{
    background-color: ;
}